body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: rgb(76, 164, 136);
  width: 100%;
  border-style: solid;
  border-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  color: rgb(253, 251, 251);
}

#minha_foto {
  width: 260px;
  border-radius: 15px;
  display: block;
  margin-left: 8px;
}

#rodape {
  text-align: center;
  font-size: 85%;
  background-color: rgb(76, 164, 136);
  border-style: solid;
  border-color: rgb(253, 251, 251);
}

#sidebar {
  display: inline-block;
  background-color: rgb(76, 164, 136);
  border-style: dotted;
  border-color: rgb(253, 251, 251);
  padding: 10px;
  float: left;
  margin-right: 20px;
}

#identificacao {
  text-align: center;
  font-family: Courier, monospace;
  font-size: 12px;
  line-height: 13px;
}

#main-content {
  text-align: justify;
  margin-top: 80px;
}

#links {
  text-align: center;
  font-family: monospace;
  font-size: 10px;
  font-weight: 800;
}

#sidebar_text {
  width: 280px;
  text-align: center;
  font-size: 15px;
}

article {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  text-indent: 15px;
}

table , th , td {
  border: 1px solid black;
}

#listas {
  display: inline-block;
  width: 60%;
}

#licoes_aprendidas {
  float: left;
}

#licoes_a_aprender {
  float: right;
}

.margin-left {
  margin-left: -20px;
}

#titulo-artigo {
  margin-top: 90px;
  margin-left: 20px;
}

table {
  margin-left: 500px;
}

th {
  text-align: center;
}