/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  background-color: rgba(190, 162, 162, 0.377);

}

article {

}

h1 {
  font-size: 1.4rem;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.4rem;
}

img {
	max-width: 100%;
}

main {

}

section {

}

figure {
	margin: 30px;
  text-align: center;
}

figcaption {
  font-size: .8em;
  text-align: center;
}

@media screen and (min-width: 608px) {
  body {
    background-color: rgba(88, 83, 83, 0.26);
  
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
  }

  .imgs {
    border: rgb(0, 0, 0) solid 2px;
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    text-align: center;
    margin: 8px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 904px) {
  body {
    background-color: rgba(138, 146, 137, 0.274);
    max-width: 1200;
    margin: 80px;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }

  .articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article {
    background-color: rgba(211, 207, 202, 0.473);
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    text-align: justify;
    font-size: 2.7rem;
    max-width: 1300px;
    border: coral solid 2px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 7px 7px 20px 3px black;
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
  }

  .imgs {
    border: coral solid 1px;
    box-shadow: 2px 2px 30px 5px black;
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    text-align: center;
    margin: 30px;
    border-radius: 8px;
    font-size: 3rem;
  }

}